<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<html lang="ja">
<head>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords" content="#">
<meta name="description" content="#">
<title><%= shopname %></title>
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/cmn.css" rel="stylesheet">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/reset.css">
</head>
<body id="top" onload="load()">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M5V3FT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5V3FT');</script>
<!-- End Google Tag Manager -->
<div id="wrap">
<header id="header">
<div class="header-in">
<h1>吉祥寺　居酒屋 飲み放題 3時間 宴会 団体 大人数 おすすめ 貸切 個室 女子会</h1>
<ul>
<li class="logo"><a href="index.html"><img src="img/logo.png" alt="坐・和民"></a></li>
<li><%= shopname %></li>
<li class="sp-none h-tel">
<p><img src="img/tel_wa01.png" alt="0422-23-8233"></p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/"><img src="img/btn_wa01.png" alt="WEBからのご予約・お問合せ"></a></p>
</li>
<li class="pc-none h-tel-sp"><a href="tel:0422-23-8233" onclick="javascript:goog_report_conversion('tel:0422-23-8233');yahoo_report_conversion(undefined);return false;"><img src="img/ico_tel.png" alt="tel"></a></li>
</ul>
</div>
</header>
<p class="align-c mb40 wow fadeInDown"><img src="img/main_wa.png" alt="忘年会予約スタート"></p>
<!-- コース一覧 -->
<div class="w-860">
<h2 class="bg-brown wow fadeInDown mb20"><img src="img/tit_wa01.jpg" alt="コース一覧"></h2>
<!-- 男性コース -->
<div class="w-820 wow fadeInDown">
<h3>完全オーダーバイキング 食べ飲み放題120分！≪男性≫週末3500円/平日3200円</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa_01.jpg" alt="春限定特別コース"></p>
<div class="txt-content">
<h4 class="mb10">「刺身5品盛合せ」や「旨タレ手羽唐」、「サーモンはらすの炙り寿司」など、お料理全62品ぜーんぶ食べ放題！さらに飲み放題は約50種類をご用意♪</h4>
<p class="fs-24 mb10">コース品数：10品／利用人数：3名～</p>
<p class="price01">3,500<span>円</span></p>
<p class="price02">週末価格です。/平日価格3200円</p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /男性コース -->

<!-- 女性コース -->
<div class="w-820 wow fadeInDown">
<h3>完全オーダーバイキング 食べ飲み放題120分！≪女性≫週末3200円/平日3000円</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa_01.jpg" alt="春限定特別コース"></p>
<div class="txt-content">
<h4 class="mb10">「刺身5品盛合せ」や「旨タレ手羽唐」、「サーモンはらすの炙り寿司」など、お料理全62品ぜーんぶ食べ放題！さらに飲み放題は約50種類をご用意♪</h4>
<p class="fs-24 mb10">コース品数：10品／利用人数：3名～</p>
<p class="price01">3,200<span>円</span></p>
<p class="price02">週末価格です。/平日価格3000円</p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /女性コース -->

<!-- 春限定特別コース -->
<div class="w-820 wow fadeInDown">
<h3>【3/1～5/8期間限定】３時間飲み放題付♪春限定特別コース</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa01.jpg" alt="春限定特別コース"></p>
<div class="txt-content">
<h4 class="mb10">春らしい華やかなコース料理を揃えました。3時間飲み放題付きなので、心に残る素敵なひとときを、ゆったりお過ごしください♪</h4>
<p class="fs-24 mb10">コース品数：9品／利用人数：4名～</p>
<p class="price01">3,500<span>円</span></p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /春限定特別コース -->

<!-- みぞれ鍋コース -->
<div class="w-820 wow fadeInDown">
<h3>3時間飲み放題付【霧島黒豚と有機大根たっぷりのみぞれ鍋コース】</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa03.jpg" alt="みぞれ鍋コース"></p>
<div class="txt-content">
<h4 class="mb10">和民人気No１コース！<br class="br-sp">肉、魚、国産野菜たっぷりの料理が勢揃いのコースです。</h4>
<p class="fs-24 mb10">コース品数：9品／利用人数：4名～</p>
<p class="price01">4,000<span>円</span></p>
<p class="price02">料理3000円(税込)／飲み放題1000円(税込)</p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /みぞれ鍋コース -->

<!-- すき焼鍋コース -->
<div class="w-820 wow fadeInDown">
<h3>3時間飲み放題付【＜北海道産＞牛のすき焼鍋コース】</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa04.jpg" alt="すき焼鍋コース"></p>
<div class="txt-content">
<h4 class="mb10">ワタミファームで育てた国産牛をすき焼に。<br class="br-sp">＜北海道産＞牛のすき焼、豪華刺身盛り合わせなど多彩な料理がいっぱいのコースです。</h4>
<p class="fs-24 mb10">コース品数：9品／利用人数：4名~</p>
<p class="price01">5,000<span>円</span></p>
<p class="price02">料理4000円(税込)／飲み放題1000円(税込)</p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /すき焼鍋コース -->

<!-- しゃぶしゃぶコース -->
<div class="w-820 wow fadeInDown">
<h3>3時間飲み放題付【＜北海道産＞牛と国産野菜たっぷりしゃぶしゃぶコース】</h3>
<div class="txt-img pd20">
<p class="img-l border-gray mr20"><img src="img/pic_wa05.jpg" alt="しゃぶしゃぶコース"></p>
<div class="txt-content">
<h4 class="mb10">ワタミファームで育てた国産牛をたっぷりの国産野菜と一緒にしゃぶしゃぶで。<br class="br-sp">＜北海道産＞牛のしゃぶしゃぶ、真鯛の姿造りなど豪華料理が目白押しのコースです。</h4>
<p class="fs-24 mb10">コース品数：10品／利用人数：4名~</p>
<p class="price01">6,000<span>円</span></p>
<p class="price02">料理5000円(税込)／飲み放題1000円(税込)</p>
<p><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/course/"><img src="img/btn_wa02.png" alt="コース詳細・ご予約はこちら"></a></p>
</div>
</div>
</div><!-- /w-820 -->
<!-- /しゃぶしゃぶコース -->
</div><!-- /w-860 -->

<!-- イチオシメニュー -->
<h2 class="bg-orange wow fadeInDown w-860 mb0"><img src="img/tit_wa02.jpg" alt="イチオシメニュー"></h2>
<div class="wow fadeInDown menu-box">
<ul id="menu01">
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa06.jpg" alt="有機人参のしりしり"></p>
<p class="item-n">有機人参のしりしり</p>
<p class="txt01 mb20">しりしりは沖縄の表現で「繊切り（せんぎり）」。<br class="br-sp">ツナと卵を入れた炒め物。和民自慢の有機人参の甘さを味わってください。</p>
<p class="price03">330円(税抜)</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa07.jpg" alt="根菜のパリパリさつま揚"></p>
<p class="item-n">根菜のパリパリさつま揚</p>
<p class="txt01 mb20">魚のすり身に人参・ゴボウを練りこみ春巻きの皮に塗って揚げました。パリパリ食感。</p>
<p class="price03">330円(税抜)</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa08.jpg" alt="イベリコ豚"></p>
<p class="item-n">ふわふわ雪見鍋（１人前）</p>
<p class="txt01 mb20">綿菓子をのせたすき焼です。火にかけると綿菓子が解けて程よい甘さに。溶き卵でお召し上がりください。</p>
<p class="price03">590円（税抜）</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa09.jpg" alt="国産野菜の和民サラダ"></p>
<p class="item-n mb20">国産野菜の和民サラダ</p>
<p class="txt01 mb20">不動の人気ＮＯ．１の和民サラダが復活しました♪<br class="br-sp">ハーフサイズ330円（税抜）</p>
<p class="price03">590円（税抜）</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa10.jpg" alt="チーズたっぷりテリヤキつくね"></p>
<p class="item-n mb20">坐和民に来たら是非ご賞味を♪★チーズたっぷりテリヤキつくね★</p>
<p class="txt01 mb20">お肉の中からとろ～りチーズがたまりません！★お酒のつまみにしても良し、今夜のおかずにしてもなお良し♪</p>
<p class="price03">390円(税抜)</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa11.jpg" alt="自慢の鉄板餃子"></p>
<p class="item-n mb20">自慢の鉄板餃子</p>
<p class="txt01 mb20">自信あります！餡・皮・焼き方全てにこだわりました！※店舗により盛り付けが異なります。</p>
<p class="price03">330円(税抜)</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa12.jpg" alt="国産牛のオイスター炒め"></p>
<p class="item-n mb20">国産牛のオイスター炒め</p>
<p class="price03">590円（税抜）</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa13.jpg" alt="縞ほっけの炙り焼き"></p>
<p class="item-n mb20">縞ほっけの炙り焼き</p>
<p class="price03">590円（税抜）</p>
</a>
</li>
<li class="item clickarea js-matchHeigtht">
<a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/food/">
<p class="align-c"><img src="img/pic_wa14.jpg" alt="国産鶏の串焼盛合せ（5本）"></p>
<p class="item-n mb20">国産鶏の串焼盛合せ（5本）</p>
<p class="txt01 mb20">タレか塩をお選びください。※季節により盛合せ内容が異なる場合がございます。</p>
<p class="price03">690円（税抜）</p>
</a>
</li>
</ul>
</div>
<!-- /イチオシメニュー -->
<p class="wow fadeInDown align-c mt40 mb40"><a onClick="goog_report_conversion" href="http://www.hotpepper.jp/strJ000247125/"><img src="img/btn_wa03.png" alt="お店の詳細・ご予約はこちらから"></a></p>
<!-- 店舗のご案内 -->
<div class="wow fadeInDown w-860 bg-brown02">
<h2 class="bg-brown align-l"><img src="img/tit_wa03.jpg" alt="店のご案内"></h2>
<div class="txt-img pd">
<div class="img-l" id="map_canvas">
</div>
<div class="txt-content">
<dl class="shop-info">
<dt>店舗名</dt>
<dd><%= shopname %></dd>
<dt>住所</dt>
<dd><%= address %></dd>
<dt>アクセス</dt>
<dd><%= access %></dd>
<dt>電話番号</dt>
<dd><%= phone %></dd>
<dt>営業時間</dt>
<dd><%= time %><br><%= timecomment %></dd>
<dt>定休日</dt>
<dd><%= holiday %></dd>
</dl>
</div>
</div>
</div><!-- /w-860 -->
<!-- /店舗のご案内 -->
<p class="copy">&copy; <%= shopname %> All Rights Reserved.</p>
<p id="page-top"><a href="#top">上に戻る</a></p>
</div><!-- /wrap -->
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/html5shiv.js"></script>
<script src="js/script.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/wow.min.js"></script>
<script>
$('a.info').tooltip();
$(window).load(function() {
$('.flexslider').flexslider({
animation: "slide",
start: function(slider) {
$('body').removeClass('loading');
}
});
});
new WOW().init();
</script>
<!-- 可変グリッドレイアウト -->
<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<!-- 自動的に列の高さが揃う -->
<script type="text/javascript" src="js/jquery.matchHeight.js"></script>
<!-- 地図 -->
<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=" type="text/javascript" charset="utf-8"></script>
<script>
<!--
function load(){
if (GBrowserIsCompatible()) {
var map = new GMap2(document.getElementById("map_canvas"));
map.addControl(new GLargeMapControl());
map.addControl(new GScaleControl());
map.setCenter(new GLatLng(35.704317, 139.579504), 18);

var infoTabs = [
  new GInfoWindowTab('', '<font size="-1"><%= shopname %></font>')
];

var marker = new GMarker(map.getCenter());
GEvent.addListener(marker, "click", function() {
  marker.openInfoWindowHtml("<font size=-1><%= shopname %></font>");
});
map.addOverlay(marker);
marker.openInfoWindowHtml("<font size=-1><%= shopname %></font>");
}
}
//-->
</script>
</body>
</html>
